body {
    background-color: #f9f9f9;
}

.box1 {
    height: 100px;
    width: auto;
    background-color: #fff;
}

.div1 {
    display: block;
    float: left;
    height: 80px;
    /* background-color: aqua; */
    margin: 10px 40px;
}

img {

    max-height: 80px;
}

.div2 {
    display: block;
    float: left;
    height: 80px;
    margin: 10px;
    /* background-color: bisque; */

}

.div2>ul {
    list-style: none;
    padding-inline-start: 0%;
    margin: 0px;
}

.li {
    height: 80px;
    line-height: 80px;
    padding: 5px;

}

.a {
    text-decoration: none;

}

.div3 {
    display: block;
    float: left;
    height: 80px;
    margin: 10px 40px;
    /* background-color: #12f23f; */

}

.ss {
    margin: 20px auto;
    height: 40px;
    width: 120px;
    border-radius: 40px;
    border: 0px;
    padding: 0px;
    background-color: #f4f5f6;
}

.sss {
    margin: 20px auto;
    height: 40px;
    width: 60px;
    border-radius: 40px;
    border: 0px;
    padding: 0px;
    background-color: #fc5733;
}

.sss:hover {
    background-color: aquamarine;
}

.div4 {
    display: block;
    float: right;
    height: 80px;
    margin: 10px;
    /* background-color: #236954; */

}

.div4>ul {

    list-style: none;
    padding-inline-start: 0%;
    margin: 0px;

}


.box2 {
    height: 120px;
    margin: 16px 28px;
    /* background-color:rgb(189, 121, 121)(59, 105, 84); */
}


/* .box2>ul {
    list-style: none;
    padding-inline-start: 0px;
    margin: 0px;
} */

.lii {

    float: left;
    height: 40px;
    font-size: 16px;
    color: #555666;
    line-height: 30px;
    /* background-color: rgb(97, 15, 15); */
    margin: 30px 30px;
}

.aa {
    text-decoration: none;
}

.box3 {
    margin: 16px 60px;
    height: 400px;
    /* background-color: #556644; */

}

.toutiao {
    display: block;
    float: left;
    height: 350px;
    width: 350px;
    /* background-color: #128899; */
}

.img2 {

    height: 200px;
    width: 300px;
    margin: 0 20px;
    /* background-color: rgb(99, 189, 189); */
    background-image: url(orange.jpg);

}

.tou {
    display: block;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
}

.tiao {
    height: 300px;

}

.link1 {
    display: block;
    float: left;
    height: 600px;
}

.hei {

    font-style: #222222;
    margin: 20px;
}

.hui {
    font-style: grey;
    margin: 20px;
    text-decoration: none;
}

li {
    list-style: none;
    padding-inline-start: 0px;
    padding: 10px;
}
.kong{
    height: 50px;
}
.board{
    display: block;
    float: left;
    width: 120px;
    height: 300px;
    background-color: rgb(105, 180, 186);
}